@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.navbar-fixed-top {
  padding: 0px !important;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.main-head {
  padding-top: 40px;
}

.head-section {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: bold;
}

.text-subheader {
  /* color: #fff !important; */
  margin-bottom: 0 !important;
}

.navbar-header {
  color: #fff !important;
  opacity: 0.9;
}

.f-13 {
  font-size: 13px;
}

.border-line-nav {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 10px;
  height: 30px;
}

.contact-us-align {
  background-image: -webkit-gradient(linear, left top, right top, from(#2495cdd1), to(#263588d1));
  background-image: linear-gradient(to right, #2495cdd1, #263588d1);
  height: 28px;
  padding: 5px;
}

.f-14 {
  font-size: 14px !important;
}

.nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.text-des {
  text-align: center;
  font-size: 12px;
}

.cont-des {
  font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  letter-spacing: 0.5px;
}

.background-img {
  background-image: url(/assets/image/ahex-first-bg.png);
  height: 93vh;
}

.dream {
  color: #fff;
  text-align: center;
  margin-top: 80px;
  font-size: 22px;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.image-text {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: shake 5s ease 2s infinite normal none running;
          animation: shake 5s ease 2s infinite normal none running;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
  padding: 13px 20px;
  opacity: 0.8;
}

.custom-passion {
  position: relative;
  left: 75px;
  letter-spacing: 1px;
}

.custom-hear {
  position: relative;
  right: 50px;
  top: 58px;
  letter-spacing: 1px;
}

.custom-priority {
  position: relative;
  left: 12px;
  top: 58px;
  letter-spacing: 1px;
}

.custom-top {
  letter-spacing: 1px;
  position: relative;
  right: 116px;
}

.years-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 80px;
  color: #fff;
  text-align: center;
}

.custom-info {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 15px 0px 15px;
  font-size: 24px;
  font-weight: 600;
}

.font-wt {
  font-weight: normal;
}

.half-bg {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(45%, #ffffff), color-stop(50%, #2980b9), color-stop(99%, #2980b9), to(#2980b9));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 45%, #2980b9 50%, #2980b9 99%, #2980b9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#000ceb',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.fostrap-logo {
  width: 100px;
  margin-bottom: 15px;
}

h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 0px !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border: none !important;
}

.card:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.card-content {
  text-align: left;
  position: relative;
  top: 5px;
}

.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #d4d4d4;
}

.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.heading {
  font-weight: 200;
}

.card-title {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.card-title a {
  color: lightslategrey !important;
}

.text-color-card {
  color: dimgrey !important;
  line-height: 1.5;
  letter-spacing: 0.7px;
}

.card-height {
  height: 318px;
}

.card-ht {
  height: 318px;
}

.second-row-card {
  height: 295px;
}

.third-row-ht {
  height: 241px;
}

.open-source {
  height: 297px;
}

.blockchain {
  height: 318px;
}

.Data-visual {
  height: 296px;
}

.fourth-row-ht {
  height: 298px !important;
}

.custom-enterprise {
  height: 240px;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  padding: 1em 3.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.fifth {
  border-color: #2a7fb8;
  border-radius: 0;
  color: #2a7fb8;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #2a7fb8;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

.fifth:hover {
  color: #fff;
}

.fifth:hover:after {
  width: 110%;
}

.img-thumbnail {
  background-color: #fff;
  border: 0 !important;
  border-radius: 0 !important;
}

.col-sm-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.image-alignment {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.custom-app-dev {
  height: 215px;
  width: 100%;
}

.news-ico {
  height: 239px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  color: dimgrey;
}

.custom-ad {
  height: 278px;
}

.news-custom-icon {
  height: 215px;
}

.read-card {
  color: #000 !important;
}

.custom-notice {
  color: grey !important;
}

.read {
  padding: 0.5em 1.5em !important;
}

.couresel-card {
  padding: 15px !important;
}

.text-custom-align {
  padding: 10px 15px 0px 9px;
}

.card-margin {
  margin: 10px !important;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app-dev-icon {
  height: 213px !important;
}

.margin-blog {
  margin-top: 100px;
}

.custom-left {
  color: darkslategrey;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  top: 85px;
  right: 50px;
}

.custom-right {
  color: darkslategrey;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  top: 85px;
  left: 50px;
}

.carousel-indicators li {
  background-color: grey !important;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carousel-indicators {
  top: 100px !important;
}

.couresel-border {
  border: 1px solid #dadada;
  padding: 10px;
  opacity: 0.6;
  position: relative;
  color: #535865;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(83, 88, 101, 0.004);
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.couresel-border::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid lightgrey;
  position: absolute;
  bottom: -15px;
}

.custom-des-border {
  position: relative;
}

.custom-des-border::before {
  width: 140px;
  height: 2px;
  z-index: 3;
  display: block;
  content: "";
  left: 50%;
  margin-left: -70px;
  background: #e7e7e7;
  position: absolute;
  bottom: 24px;
}

.custom-des-border::after {
  content: "\f02e";
  font-weight: 400;
  font-style: normal;
  display: block;
  font-size: 20px;
  font-family: FontAwesome;
  color: #e7e7e7;
}

.client-res {
  font-size: 15px;
  font-weight: 600;
  color: #444;
  font-family: Raleway, sans-serif;
}

.client-owner {
  font-size: 14px;
  font-family: Raleway, sans-serif;
  color: #444;
}

.border-img {
  border-radius: 50px;
}

.couresel-clients {
  width: 100%;
}

.slide-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .slide-box img {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0.5rem;
}

a {
  color: #6c757d;
}

a:hover {
  color: #fec503;
  text-decoration: none;
}

::-moz-selection {
  background: #fec503;
  text-shadow: none;
}

::selection {
  background: #fec503;
  text-shadow: none;
}

footer {
  padding: 50px 0 0 0px;
  background-color: #212529;
  margin-top: 40px;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}

.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}

.footer-column .nav-item span.nav-link {
  color: #6c757d;
}

.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}

.footer-column ul {
  display: inline-block;
}

@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fec503;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

.nav-item-one {
  color: #fff;
  border-bottom: 1px solid #505050;
  width: 300px;
}

.first-colm-width {
  width: 322px;
  color: #fff !important;
  font-size: 15px;
}

.text-font-color {
  color: #6c757d !important;
}

.footer-first-colmn {
  color: #fff !important;
  font-size: 15px;
}

.double-arrow-footer {
  position: relative;
  color: #fff;
  left: 94%;
  font-size: 25px;
  background: rgba(68, 68, 68, 0.7);
  padding: 10px;
  bottom: 30px;
}

.recent-post {
  line-height: 2;
}

.ssl {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.6)), color-stop(75%, rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6) 75%);
}

.ssl:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 230px;
}

.img-crsl {
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.clients-arrw {
  top: 20px !important;
}

.box {
  background: #000;
  opacity: 0.5;
}

.card-bg {
  background: #f8f8f8 !important;
}
/*# sourceMappingURL=style.css.map */